* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./imgs/bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body * {
    font-family: 'Inter', sans-serif;
    color: white;
}


#caixa {
    width: 360px;
    margin: 56px auto 0px;
}

#perfil {
    text-align: center;
    padding: 24px;
}

#perfil img {
    display: block;
    width: 112px;
    margin: auto;

}

#perfil p {
   font-weight: 500;
   line-height: 24px;
   margin-top: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.1);
    border: solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
}

ul li a:hover {

background-color: rgba(24, 24, 24, 0.568);
transition-duration: 0.4s;
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;

}

#social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

#social-links a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: all 0.10s;
    
}

footer {
    padding: 24px 0;
    text-align: center;
}

